:root {
  --primary-color: #d35649;
  --primary-gray: #98a5a5;
  --primary-blue: #509bd7;
  --gray-footer: #1f1f1f;
  --gray-footer-btn: #444;
  --primary-purple: #575a89;
  --light-gray: #eee;
  --dark-sombre: #050505;
}
/* styles pour le header */
.bg-header {
  background-color: var(--primary-color);
}
#en-tete i {
  margin-right: 10px;
}
#en-tete ul {
  gap: 2%;
}
/* styles communes */
span a,
h2,
#footpart1 a,
#en-tete a,
#en-tete i,
#footpart2 i,
#footpart1 p,
svg,
input {
  color: var(--light-gray);
}
#section1 p,
#section2 h2 {
  color: var(--gray-footer);
}

#footpart1 a {
  text-decoration: none;
  margin: 0 15px;
}
#lien-rouge1,
#lien-rouge2,
h1,
#section1 h1 i,
#section2 h3 {
  color: var(--primary-color) !important;
}
#lien-rouge1:hover,
#lien-rouge2:hover,
#footpart1 a:hover,
#footpart1 input:hover {
  color: var(--primary-gray);
}
#section1 span,
#section1 i {
  color: var(--primary-blue);
}
/* les styles en section 1 */
#section1 {
  box-shadow: 0 0 10px #444;
}
.bordure {
  border: 1px solid var(--primary-gray);
  padding: 1%;
  margin:2%;
}
#section1 button {
  width: 11rem;
}
/* styles pour le footer */
#footpart1 {
  background-color: var(--dark-sombre);
}
#image-svg {
  width: 25%;
}
#footpart1 h2 {
  margin-bottom: 15px;
}
#footpart2 {
  background-color: var(--gray-footer);
}
input {
  border-radius: 3px;
  background-color: var(--gray-footer-btn);
}
