:root {
  --primary-color: #d35649;
  --primary-gray: #98a5a5;
  --primary-blue: #509bd7;
  --gray-footer: #1f1f1f;
  --gray-footer-btn: #444;
  --primary-purple: #575a89;
  --light-gray: #eee;
  --dark-sombre: #050505;
}

.bg-header {
  background-color: var(--primary-color);
}
#en-tete i {
  margin-right: 10px;
}
span a,
h2,
#footpart1 a,
#en-tete i,
#en-tete a,
#footpart2 i,
#footpart1 p,
svg {
  color: var(--light-gray);
}
#footpart1 a {
  text-decoration: none;
  margin: 0 15px;
}
#footpart1 {
  background-color: var(--dark-sombre);
}
#lien-rouge1,
#lien-rouge2 {
  color: var(--primary-color) !important;
}
#footpart1 h2 {
  margin-bottom: 15px;
}
#footpart2 {
  background-color: var(--gray-footer);
}
#lien-rouge1:hover,
#lien-rouge2:hover,
#footpart1 a:hover,
#footpart1 input:hover {
  color: var(--primary-gray);
}
#footpart1 input {
  border-radius: 3px;
  background-color: var(--gray-footer-btn);
}
